include:
  - project: cloud/integrations/ci
    file:
      - default.yml
      - workflows/feature-branches.yml

variables:
  GOMODCACHE: $CI_PROJECT_DIR/.cache/go-mod
  GOCACHE: $CI_PROJECT_DIR/.cache/go-build

cache:
  key:
    files:
      - go.mod
      - go.sum
  paths:
    - $GOMODCACHE

build:
  stage: build
  image: golang:1.24
  script:
    - go env
    - go mod download
    - go -C ./tools mod download

test:lint:
  stage: test
  image: golangci/golangci-lint:v1.64.6
  script:
    - golangci-lint run -v

test:tidy:
  stage: test
  image: golang:1.24
  script:
    - go mod tidy -v
    - git diff --exit-code

test:generate:
  stage: test
  image: golang:1.24
  script:
    - go generate ./...
    - git diff --exit-code

test:unit:
  stage: test
  image: golang:1.24
  script:
    - go test -v -coverpkg=./... -coverprofile=coverage.txt -covermode count ./...
    - go -C ./tools run github.com/boumenot/gocover-cobertura < coverage.txt > coverage.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: "/coverage: \\d+.\\d+% of statements/"
