name: Build CLI Developer Snapshot

on:
  pull_request:
  push:

jobs:
  build-cli:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Print Go Version
        run: go version
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist --skip-publish --skip-sign
          key: ${{ secrets.GPG_KEY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v1
        with:
          name: Upload macOS Build Artifact
          path: dist/hcloud-macos-build_darwin_amd64/hcloud
      - uses: actions/upload-artifact@v1
        with:
          name: Upload Windows AMD64 Build Artifact
          path: dist/hcloud-build_windows_amd64/hcloud
      - uses: actions/upload-artifact@v1
        with:
          name: Upload Linux AMD64 Build Artifact
          path: dist/hcloud-build_linux_amd64/hcloud
      - uses: actions/upload-artifact@v1
        with:
          name: Upload FreeBSD AMD64 Build Artifact
          path: dist/hcloud-build_freebsd_amd64/hcloud
