name: Build

on:
  push:
    branches: [main]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up tools
        uses: jdx/mise-action@v3
        with:
          version: 2026.1.6 # renovate: datasource=github-releases depName=jdx/mise

      - name: Run GoReleaser
        run: goreleaser release --clean --snapshot --skip=sign

      - uses: actions/upload-artifact@v6
        with:
          name: Preview Binaries
          path: dist/hcloud-*/hcloud

      - name: Check for release errors
        run: scripts/check-release-error.sh
