name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up tools
        uses: jdx/mise-action@v3
        with:
          version: 2026.1.0 # renovate: datasource=github-releases depName=jdx/mise

      - name: Run gofmt
        run: diff -u <(echo -n) <(gofmt -d -s .)

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # golangci-lint was already installed in a previous step.
          install-mode: none

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up tools
        uses: jdx/mise-action@v3
        with:
          version: 2026.1.0 # renovate: datasource=github-releases depName=jdx/mise

      - name: Run tests
        run: go test -coverpkg=./internal/... -coverprofile=coverage.txt -v -race ./...

      - name: Upload coverage reports to Codecov
        if: >
          !startsWith(github.head_ref, 'renovate/') &&
          !startsWith(github.head_ref, 'releaser-pleaser--')
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

  test-e2e:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up tools
        uses: jdx/mise-action@v3
        with:
          version: 2026.1.0 # renovate: datasource=github-releases depName=jdx/mise

      - uses: hetznercloud/tps-action@main

      - name: Run tests
        run: go test -tags e2e -timeout=30m -coverpkg=./internal/... -coverprofile=coverage.txt -v -race ./test/e2e
        env:
          # Domain must be available in the account running the tests. This domain is
          # available in the account running the public integration tests.
          CERT_DOMAIN: hc-integrations-test.de

      - name: Upload coverage reports to Codecov
        if: >
          !startsWith(github.head_ref, 'renovate/') &&
          !startsWith(github.head_ref, 'release-please--')
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: e2e

  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up tools
        uses: jdx/mise-action@v3
        with:
          version: 2026.1.0 # renovate: datasource=github-releases depName=jdx/mise

      - name: Delete old generated files
        run: find . -name 'zz_*.go' -delete

      - name: Run go generate
        run: go generate ./...

      - name: Check uncommitted changes
        run: git diff --exit-code

      - if: failure()
        run: echo "::error::Check failed, please run 'go generate ./...' and commit the changes."

  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up tools
        uses: jdx/mise-action@v3
        with:
          version: 2026.1.0 # renovate: datasource=github-releases depName=jdx/mise

      - name: Run go mod tidy
        run: go mod tidy

      - name: Check uncommitted changes
        run: git diff --exit-code

      - if: failure()
        run: echo "::error::Check failed, please run 'go mod tidy' and commit the changes."
