name: Release CLI Version on tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release-cli:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Print Go Version
        run: go version
      - name: Decrypt Secrets
        env:
          SECRETS_PASSWORD: ${{ secrets.SECRETS_PASSWORD }}
        run: bash script/decrypt_secrets.sh
      - name: Install gon
        run: |
          wget https://github.com/mitchellh/gon/releases/download/v0.2.2/gon_0.2.2_macos.zip
          unzip gon_0.2.2_macos.zip
          mv gon /usr/local/bin/gon
          chmod +x /usr/local/bin/gon
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
          key: ${{ secrets.GPG_KEY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HC_APPLE_DEVELOPER_PASSWORD: ${{ secrets.HC_APPLE_DEVELOPER_PASSWORD }}
